# Frameworks de Aprendizado Profundo (se necessário, mantenha PyTorch)
# torch==2.5.1          # PyTorch (mantido se você precisar de aprendizado profundo no futuro)

# Manipulação de Imagens e Vídeos
opencv-python-headless==4.8.0.74   # Processamento de imagens e vídeos sem necessidade de GUI
Pillow==11.0.0                      # Manipulação de imagens (PIL)

# Manipulação de Dados
numpy==1.26.4            # Operações numéricas
pandas==2.0.3            # Análise de dados estruturados

# Visualização
matplotlib==3.8.0        # Visualização de gráficos
seaborn==0.12.2          # Gráficos estatísticos
plotly==5.15.0           # Gráficos interativos

# Ferramentas para Datasets
pyyaml==6.0.2            # Manipulação de arquivos YAML
tqdm==4.66.1             # Barra de progresso
